<h3 class="text-lg font-semibold m-1">
  You are working on:
  <mxevolve-jira-user-stories
    [jiraBaseUrl]="(jiraBaseUrl$ | async)?.jiraBaseUrl"
    [userStoryIds]="userStoryIds"
  ></mxevolve-jira-user-stories>
</h3>

<mxevolve-development-details
  [projectId]="projectId"
  [developmentId]="developmentId ?? fallbackDevelopmentId"
>
</mxevolve-development-details>

<mxevolve-commits-details
  [developmentId]="developmentId ?? fallbackDevelopmentId"
  [projectId]="projectId"
  [businessProcessId]="ciProcessExecutionId"
>
</mxevolve-commits-details>
