<div class="flex flex-col gap-6">
  <p-panel header="Branch Details" [toggleable]="true" [collapsed]="true">
    <mxevolve-build-and-test-branch-details
      [projectId]="projectId"
      [developmentId]="developmentId"
    ></mxevolve-build-and-test-branch-details>
  </p-panel>

  <p-panel header="Merge Request" [toggleable]="true">
    @if (mergeJobId) {
    <mxflow-merge-request-view
      [mergeJobId]="mergeJobId"
    ></mxflow-merge-request-view>
    }
  </p-panel>

  @if (shouldShowPublishing()) {
  <p-panel header="Final Product Details" [toggleable]="true">
    <mxevolve-final-product-publishing-component
      [projectId]="projectId"
      [finalProductPublishing]="finalProductPublishing"
    >
    </mxevolve-final-product-publishing-component>
  </p-panel>
  }

  <div class="flex flex-col gap-2">
    <div class="flex justify-end gap-2">
      @if(!mergeRequestDetails) {
      <p-skeleton width="150px" height="2rem"></p-skeleton>
      } @else if (mergeRequestDetails?.isReOpenable) {
      <mxevolve-ci-process-merge-request-reopen
        [processId]="ciProcessExecutionId"
        [projectId]="projectId"
        [areMergeRequestDetailsEditable]="false"
        [actionsDisabled]="actionsDisabled"
        (reopened)="mergeRequestReopened()"
      />
      } @else {
      <p-button
        label="Create a New Merge Request"
        id="create-new-merge-request-submit-btn"
        [disabled]="actionsDisabled"
        (onClick)="showModalEventEmitter.emit($event)"
      ></p-button>
      }
      <p-button
        label="Fix Issues"
        id="fix-issues-submit-btn"
        [disabled]="actionsDisabled"
        (onClick)="fixIssues()"
      ></p-button>
    </div>
    @if (showDecision) {
    <mxflow-integrate-changes-decision
      [requester]="requester"
    ></mxflow-integrate-changes-decision>
    }
  </div>
</div>

<mxflow-send-for-review
  [projectId]="projectId"
  [processId]="ciProcessExecutionId"
  [showModalEvenEmitter]="showModalEventEmitter"
  [hideModalEvenEmitter]="hideModalEventEmitter"
  (mergeRequestCreated)="mergeRequestCreated()"
>
</mxflow-send-for-review>
